FUNCTIONS

# Functions

## Introduction to Functions
 Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

- What is a function?

   ** a function is a useful tool that groups together a set of statements so 
       they can be run more than once. 
       They can accept parameters that can serve as inputs to the functions.
       

   ** On fundamental level, functions have followng advantages 
        - No need to repeatedly write the same code again and again. 
        - Examples of functions repeatedly used in python
                 - len() - to get the length of a string. 
                 - print() - print the data 
                 - .append()
                 - .split()
                 Since the above are common task you would want to write a 
                 function that can do this repeatedly at command.

 - Functions will be one of most basic levels of reusing code in Python, and 
 - helps in designing a clutter free program

Function definition syntax
*   def name_of_function(arg1,arg2):
      '''
        This is where the function's Document String (docstring) goes
      '''
       Do stuff here
       Return desired result

def name_of_function(arg1,arg2):
- We begin with def then a space followed by the name of the function. 
- We should have relevant names, for example len() is a good name for a length() function. 
- Also be careful with names, we should avoid calling a function the same name 
  as a built-in function in Python (such as len).

- The pair of parentheses with a number of arguments separated by a comma. 
- These arguments are the inputs for your function. 
- we use these inputs in your function and reference them. 
- After this you put a colon.

- We must take care of indentation rules inside function correctly.
- Jupiter does the indentation automatically once it sees the ":" in the function definition line
- Python makes use of whitespace to organize code. 

Docstrings - not mandatory (serve has help for function)
- docstring, this is where you write a basic description of the function.
- Using iPython and iPython Notebooks, We are able to read these docstrings by pressing Shift+Tab after a function name. 
- Docstrings are not necessary for simple functions, but it's good practice to put them in so you or other people can easily understand the code you write.

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9]

In [2]:
### sample functions that we have already seen in python

In [ ]:
print(mylist)

In [31]:
mylist.pop(4)   #### iterates thru the list , picks up the last element, 
               #### removes the last element of list,
               #### prints that last element
        
        ### date yy-mm-dd
        ### julian date yyyddd

6

In [33]:
mylist

[1, 2, 3, 4, 7, 8, 9]

In [174]:
### tab for getting list of methods
#### shift + tab for getting help on methods
help(mylist.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [ ]:
#### functions in python

#### Creates Clean Repeatable code
### functions allow to create blocks of code that can be easily executed many times
### syntax of function

######    def  name_of_function(): 
 ####  '''
 ####      Doctstring explains functions       
 ###   '''
###   print("Hello" +name)
#### calling a function
#### name_of_fucntion("anand")
#### >>> Hello Anand
#### RETURN KEYWORKD
#### sends back result of function instead of printing. allows to assign the output of function to a new variable

In [1]:
def name_function():
    print("Hello")
    
### colon always indicates a block of code

In [2]:
name_function

In [3]:
type(name_function)

function

In [4]:
name_function()       ### do shift tab -- or use help(name_fucntion)...you will get docstring. which allows you to add comments
                  ### on your function

Hello

In [4]:
def name_function():              ### colon always indicates a block of code
    '''
    DOCSTRING: this is a name function
    INPUT : NO INPUT
    OUTPUT : HELLO ....
    '''
    print("Hello")

In [ ]:
name_function()

In [12]:
help(name_function)            ### instead of pressing shift + tab , you can also use help(function name)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: this is a name function
    INPUT : NO INPUT
    OUTPUT : HELLO ....

In [2]:
def add(*num):
    for i in num:
        print(i)
print(add(2,3,4,5))

2
3
4
5
None

In [5]:
### adding a parameter
def say_hello(name):
    print('hello '+name)

In [6]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [41]:
say_hello('python')

hello python

In [42]:
#### default parameter
def say_hello(name='NAME'):
    print('hello '+name)

In [44]:
say_hello()        #### default occurs when you do not provide inside the function

hello NAME

In [45]:
say_hello('replacedname')

hello replacedname

In [7]:
result1 = say_hello('python')

hello python

In [13]:
say_hello(8)

TypeError: must be str, not int

In [12]:
result1

In [190]:
type(result1)         ##### becuse its just assigned but no output is transferred from function to var. you need a RETURN command

NoneType

In [7]:
def say_hello(name='NAME'):
    return 'hello '+ name

In [6]:
type(say_hello)

function

In [6]:
result = say_hello('rajesh')

NameError: name 'say_hello' is not defined

In [16]:
result

'hello aayushi'

In [52]:
def add(n1,n2):
    return n1+n2

In [53]:
add_result = add(20,30)
add_result

50

In [ ]:
##### find out if the word "dog" is in a string?

In [21]:
def dog_check(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [ ]:
#### try using input in function

In [22]:
dog_check('My dog ate food')

True

In [23]:
dog_check('DOG ran away')   ### case sensitive

False

In [19]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [20]:
dog_check('DOG DOG ran away')   ### case sensitive

True

In [62]:
'dog' in 'dog ran away'  #### this by itself is a boolean

True

In [219]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [220]:
dog_check('DOG ran away')

True

In [46]:
#######  function exercise
###### transform a normal word into a secret code word
### if word starts with vowel , add 'ay'to end
#### if word does not start with a vowel, put first letter at end , then add 'ay' 
#### word ---> ordway
#### apple ---> appleay

In [221]:
def  word_play(word):
    
    first_letter = word[0]
    
    ### check if the letter is a vowel
    if first_letter in 'aeiou':
        test_word = word + 'ay'
    else:
        test_word = word[1:] + first_letter + 'ay'
    return test_word

In [224]:
word_play('order')

'orderay'

In [49]:
word_play('python')

'ythonpay'

In [2]:
d1 = ["apple","mango"]
d2 = ["one","two","three","four"]
list(zip(d1,d2))

[('apple', 'one'), ('mango', 'two')]

In [9]:
d1 = ["apple","mango"]
d2 = ["one","two"]
list(zip(d1,d2))

[('apple', 'one'), ('mango', 'two')]

In [ ]:
#### some more difficult problems ### some practice problems ####

In [ ]:
#### problem - writee a function that returns the lesser of 2 given numbers if both numbers are even, but returns the greater numbere
#### if one or both numbers are odd

#### lesser_of_two_evens(2,4) ---> 2
#### lesser of_two_evens(2,5) ---> 5

In [104]:
def lesser_of_two_evens(a,b):
    if a%2 == 0  and b%2  == 0:       ### checks if number is even 
        print(a)
        print(b)
        ### both numbers aree even
        if a < b:
            result = a
        else:
            result = b
    else:
        #### one or both numbers are odd!!!
        if a < b:
            result = b
        else:
            result = a
        print(a)
        print(b)
    return result

In [105]:
### check
lesser_of_two_evens(2,4)

2
4

2

In [106]:
lesser_of_two_evens(2,5)

2
5

5

In [107]:
lesser_of_two_evens(5,2)

5
2

5

In [110]:
def lesser_of_two_evens(a,b):
    if a%2 == 0  and b%2  == 0:       ### checks if number is even 
        print(a)
        print(b)
        ### both numbers are even
        result = min(a,b)
    else:
        #### one or both numbers are odd!!!
        result = max(a,b)
        
        print(a)
        print(b)
    return result

In [113]:
lesser_of_two_evens(2,4)

2
4

2

In [115]:
def lesser_of_two_evens(a,b):
    if a%2 == 0  and b%2  == 0:       ### checks if number is even 
        print(a)
        print(b)
        ### both numbers are even
        return min(a,b)
    else:
        #### one or both numbers are odd!!!
        return max(a,b)
        
        print(a)
        print(b)

In [116]:
lesser_of_two_evens(2,4)

2
4

2

In [ ]:
#### problem 
### write a function that takes a 2 two-word string and returns True if both words begin with same letter
####  animal_crackers('Levelheaded Llama') ---> True
####  animal_crackers('Crazy Kangaroo')   ----> False

In [7]:
def animal_crackers(text):
    wordlist = text.split()
    print(wordlist)

In [8]:
### check
animal_crackers('Levelheaded Llama, hello: python')

['Levelheaded', 'Llama,', 'hello:', 'python']

In [120]:
 ### check
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

In [121]:
def animal_crackers(text):
    wordlist = text.split()
    first = wordlist[0]
    second = wordlist[0]
    return first[0] == second[0]

In [122]:
### check
animal_crackers('Levelheaded Llama')

True

In [123]:
### check
animal_crackers('Crazy Kangaroo')

True

In [124]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [125]:
### check
animal_crackers('Levelheaded Llama')

True

In [126]:
### check
animal_crackers('Crazy Kangaroo')

False

In [ ]:
### what if one of the words starts with a lower case

In [13]:
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [14]:
### check
animal_crackers('Levelheaded llama')

True

In [130]:
### check
animal_crackers('Crazy corner')

True

In [ ]:
################# MAP AND FILTER FUNCITONS

In [15]:
### function to take a number and returns its square
def square(num):
    return num**2

In [ ]:
### if i want to apply the above function to every single item in a list or any object

In [16]:
my_list_numbs = [1,2,3,4,5]

In [17]:
### usage of map function
map(square, my_list_numbs)   ### this just says its a map

In [21]:
set(map(square, my_list_numbs))

{1, 4, 9, 16, 25}

In [27]:
 for item in map(square, my_list_numbs):   ### please note i am just calling square and not square. because map itself is a 
        print(item)                       #### function and will execute the function inside it. function here is argument

1
4
9
16
25

In [254]:
list(map(square,my_list_numbs))    ### you get the result in a list

[1, 4, 9, 16, 25]

In [22]:
def str_splice(value):
    if len(value)%2 == 0:
        return 'EVEN'       ### returns EVEN if the length of string is even
    else:
        return value[0]     ### returns only first letter if the len of string is odd

In [23]:
##3 create a list of names
names = ['John','Joe','Jane','Python']

In [24]:
list(map(str_splice,names))

['EVEN', 'J', 'EVEN', 'EVEN']

In [ ]:
################# FILTER    ####################

In [259]:
def check_evennum(num):
    return num%2 == 0

In [260]:
mynums = [1,2,3,4,5,6]

In [261]:
filter(check_evennum,mynums)

In [262]:
list(filter(check_evennum,mynums))              #### transform to a list

[2, 4, 6]

In [263]:
for n in filter(check_evennum,mynums):         #### itereation through results
    print(n)

2
4
6

In [ ]:
###############################   LAMBDA EXPRESSION  #######################################
##### step by step conversion to lambda

In [1]:
def  square(num):
    result = num ** 2
    return result

In [32]:
square(3)

9

In [3]:
def square(num):
    return num ** 2

In [31]:
def square(num): return num ** 2

In [ ]:
#### lambda is also known as anonymous function. no def keyword and replace with lambda

In [4]:
square1 = lambda item: item ** 2   #### not necessary to assign to variable

In [5]:
print(square1(4))

16

In [8]:
### lambda using map

In [29]:
my_list_lambda = [1,2,3,4,5,6,9,10,11]

In [31]:
result =lambda list_num : (list_num) * (list_num-1)
result(1)

0

In [32]:
result(2)

2

In [33]:
result(3)

6

In [13]:
### lambda using map 
list(map(lambda list_num : (list_num) * (list_num-1),my_list_lambda))

[0, 2, 6, 12, 20, 30, 72, 90, 110]

In [14]:
my_tuple_lambda = (1,2,3,4,5,6)

In [17]:
## lambda using map and tuples
list(map(lambda tup_num : (tup_num) * (tup_num-1),my_tuple_lambda))

[0, 2, 6, 12, 20, 30]

In [ ]:
#### USAGE OF FILTER

In [37]:
players = ('messi','neymar','rodriguez')

In [38]:
players[0]

'messi'

In [39]:
map(lambda x:x[0],players)

In [40]:
list(map(lambda x:x[0],players))

['m', 'n', 'r']

In [41]:
list(map(lambda x:x,players))

['messi', 'neymar', 'rodriguez']

In [22]:
tuple(map(lambda x:x[0],players))

('m', 'n', 'r')

In [159]:
##### lambda with map and filter

In [24]:
mynumlist = [1,2,3,4,5]

In [162]:
map(lambda num:num**2,mynumlist)

In [164]:
list(map(lambda num:num ** 2, mynumlist))

[1, 4, 9, 16, 25]

In [ ]:
##### lambda using filters

In [23]:
def check_even(num):
    return num%2 == 0

In [25]:
filter(lambda num:num%2 == 0, mynumlist)

In [26]:
list(filter(lambda num:num%2 == 0,mynumlist))

[2, 4]

In [27]:
nameslist = ['python','java','oracle']
nameslist

['python', 'java', 'oracle']

In [28]:
list(map(lambda x:x[0],nameslist))         #### extracts only the first letter from every item in list

['p', 'j', 'o']

In [46]:
##### using range function in lamda

In [47]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [1]:
############### BUILT IN FUNCTIONS IN PYTHON
#### Enumerate

In [11]:
store_list = ['mcdonald', 'taco bell', 'dunkin', 'wendys', 'chipotle']
print(enumerate(store_list))

<enumerate object at 0x7f8d00ac0d20>

In [13]:
store_Map=dict((position,name) for position,name in enumerate(store_list))

In [37]:
for position, name in enumerate(store_list):
    print(position,name)

0 mcdonald
1 taco bell
2 dunkin
3 wendys
4 chipotle

In [8]:
store_map = dict((name,position) for position,name in enumerate(store_list))

In [9]:
store_map

{'chipotle': 4, 'dunkin': 2, 'mcdonald': 0, 'taco bell': 1, 'wendys': 3}

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
autonum1 = range(-1,10,2)

In [30]:
list(autonum1)

[-1, 1, 3, 5, 7, 9]

In [57]:
lessthan0 = list(filter(lambda x: x<0, autonum1))
print(lessthan0)
list(lessthan0)

[-1]

[-1]

In [51]:
teams= ['brazil','germany','argentina','france','england','spain','india']

In [50]:
wincount = ['ten', 'thirty', 'twenty','fifty','ten','five']

In [52]:
total = zip(teams,wincount)

In [53]:
list(total)

[('brazil', 'ten'),
 ('germany', 'thirty'),
 ('argentina', 'twenty'),
 ('france', 'fifty'),
 ('england', 'ten'),
 ('spain', 'five')]

In [4]:
import pandas as pd
import numpy as np

In [2]:
ls

'Lesson 13 Association Rules Ex 1.csv'
 Python-For-Data-Science-FUNCTIONS.ipynb

In [5]:
pd.read_csv("Lesson 13 Association Rules Ex 1.csv")

,citrus fruit,semi-finished bread,margarine,ready soups,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,whole milk,butter,yogurt,rice,abrasive cleaner,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9829,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9830,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN